<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Reset wachtwoord</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">De reset sleutel ontbreekt.</div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>Kies een nieuw wachtwoord</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span>Uw wachtwoord kon niet gereset worden. Vergeet niet dat een wachtwoord verzoek slechts 24 uur geldig is.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Uw wachtwoord is gereset.</strong> Om in te loggen, klik </span>
        <a class="alert-link" routerLink="/login">aanmelden</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Het wachtwoord en zijn bevestiging komen niet overeen!</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword">Nieuw wachtwoord</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Nieuw wachtwoord"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Uw wachtwoord is vereist.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                Uw wachtwoord moet minstens 4 tekens lang zijn.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                Uw wachtwoord kan niet langer zijn dan 50 tekens.
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Nieuw wachtwoord bevestigen</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Bevestig het nieuwe wachtwoord"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Uw wachtwoord bevestiging is vereist.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                Uw wachtwoord bevestiging moet minstens 4 tekens lang zijn.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                Uw wachtwoord bevestiging kan niet langer zijn dan 50 tekens.
              </small>
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">
            Valideer nieuw wachtwoord
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
